.home-btn {
  height: 7vh;
  width: 15vw;
  font-size: 1.5rem;
}

.home-container {
  background-color: rgb(21, 21, 21);
  background-size: cover;
  background-position: center;
}

.hp-intro {
  bottom: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 996px;
  padding: 30px;
  margin: -31px 338px 20px 338px;
}
