.home-btn {
  height: 7vh;
  width: 15vw;
  font-size: 1.5rem;
}

.home-container {
  background-color: rgb(21, 21, 21);
  background-size: cover;
  background-position: center;
  padding-top: 3px;
}

.hp-intro {
  bottom: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 996px;
  padding: 30px;
  margin: -31px 89px 20px 136px;
}

.banner-content h6 {
  margin-top: 6px;
  margin-left: 3px;
  font-size: 12px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.6);
}

// cards

.item-card-home {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 6px $dark-green;
  border-radius: 15px;
  padding: 0px;
  margin: 10px;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: rgb(21, 21, 21);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.home-logo{
  height: 200px;
  width: auto;
}
.home-logo-container{
  position: absolute;
  top: 6px;
  left: 6px;
}
.banner{
  position: relative;
}
.show-button-home {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: #a8345c;
  border: 1px solid #a8345c;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  box-sizing: 30px 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.7em;
  cursor: pointer;
  padding-right: 15;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  text-align: center;
  width: 22%;
  height: 30%;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    // background-color: transparent;
    color: $magenta;
    outline: 0;
  }
}

// FOOTPRINTS ANIMATION


#svg-sprite {
  display: flex;
  position:absolute;
  padding: 30px;
}

.ajax-loader, .ajax-loader2, .ajax-loader3, .ajax-loader4{
	position: absolute;
	transform-origin: 50% 50%;
	font-size: 110px;
	width: 1em;
	height: 3em;

	.paw{
		width: 1.5em;
		height: 1em;
		animation: 2050ms pawAnimation ease-in-out infinite;
		opacity: 0;


		svg{
			width: 100%;
			height: 100%;
		}

		.icon{
			fill: #d31145;
		}


    &:nth-child(odd){
			transform: rotate(0deg);
		}

		&:nth-child(even){
			transform: rotate(0deg) scaleX(-1) translate(15%, -50%);
		}

		@for $i from 1 through 10{

      @if($i % 2 == 0){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(0deg) scaleX(-1) translate3d($i*5%, $i*-50%, 0);
             //animation: ($i/2)*0.5s path1 ease-in-out;
        }
      }
      @else{
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(0deg) translate3d($i*-4%, $i*-48%, 0);
        }
      }


      @if($i == 1){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(-8deg) translate3d($i*30%, $i*-50%, 0);
        }
      }
      @if($i == 2){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(-8deg) scaleX(-1) translate3d($i*-15%, $i*-60%, 0);
              //animation: ($i/2)*0.5s path1 ease-in-out;
        }
      }


    @if($i == 3){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(0deg) translate3d($i*15%, $i*-48%, 0);
        }
      }
      @if($i == 4){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(0deg) scaleX(-1) translate3d($i*-8%, $i*-50%, 0);
            //animation: ($i/2)*0.5s path1 ease-in-out;
        }
      }


      @if($i == 5){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(0deg) translate3d($i*8%, $i*-48%, 0);
        }
      }
      @if($i == 6){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(0deg) scaleX(-1) translate3d($i*-5%, $i*-50%, 0);
            //animation: ($i/2)*0.5s path1 ease-in-out;
        }
      }


      @if($i == 7){
        &:nth-child(#{$i}){
          animation-delay: #{ (($i * -1)+10)*0.25 }s;
          transform: rotate(1deg) translate3d($i*1%, $i*-48%, 0);
        }
      }
      @if($i == 8){
        &:nth-child(#{$i}){
            	animation-delay: #{ (($i * -1)+10)*0.25 }s;
              transform: rotate(1deg) scaleX(-1) translate3d($i*1%, $i*-50%, 0);
              //animation: ($i/2)*0.5s path1 ease-in-out;
            }
      }


  }//for loop ends


      .no-cssanimations &{
        opacity: 1;
      }
	}
}

.ajax-loader{
  top: 70% !important;
  left: 20% !important;
  transform: rotate(128deg) translate(-50%, -30%) !important;
}
// .ajax-loader2{
// 	top: 15%;
// 	right: 20%;
// 	transform: rotate(-10deg) translate(-50%, 0%);
// }

// .ajax-loader3{
// 	top: 45%;
// 	left: 30%;
// 	transform: rotate(150deg) translate(-50%, 0%);
// }

// .ajax-loader4{
// 	top: 45%;
// 	right: 35%;
// 	transform: rotate(200deg) translate(-50%, 0%);
// }

@keyframes pawAnimation {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

@keyframes path1{
  0%{
    transform: rotate(0deg) scaleX(-1) translate3d(0%, -50%, 0);
  }
  30%{
    transform: rotate(20deg) scaleX(-1) translate3d(-35%, -60%, 0);
  }
  100%{
    transform: rotate(20deg) scaleX(-1) translate3d(-0%, -80%, 0);
  }
}
