.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1400px;
  height: 75vh;
  padding-top: 4vh;
  margin: 0px auto 40px auto;
}

.hikes-container {
  background-color: white;
  padding-top: 4vh;
}

.row {
  width: 100%;
  justify-content: center;
  // margin-right: 200px;
}

.profile-info {
  // grid-template-columns: 50% 50%;
  background-color: white;
}

.profile-center {
  margin: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid lightgray;
}

.profile-name {
  text-transform: bold;
  text-align: left;
  color: rgb(0, 0, 0);
  padding-left: 22px;
  padding-top: 22px;
  padding-bottom: 5px;
  position: relative;
}

.profile-name h2 {
  font-size: 25px;
}

.profile-hometown {
  text-align: left;
  width: 50%;
  height: 4vh;
  color: grey;
  margin-left: 22px;
}

.profile-hometown p {
  font-weight: lighter;
}

.profile-dog {
  text-align: left;
  justify-content: left;
  width: 50%;
  height: 4vh;
  color: grey;
  margin-left: 22px;
}

.profile-dog p {
  font-weight: lighter;
}

.profile-description {
  margin: 22px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 14px;
  padding: 3vh;
  text-align: left;
  color: black;
}

.profile-description p {
  font-weight: lighter;
  font-size: 14px;
}

#profile-contact-btn {
  margin-bottom: 22px;
  margin-right: 10px;
}

.avatar-profile {
  position: absolute;
  margin-left: 980px;
  margin-top: -33px;
  width: 105px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

// ---- MY HIKES ---- \\


.hike-info {
  margin-right: 200px;
}

.container-hike {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1400px;
  height: 75vh;
  padding-top: 4vh;
  margin: -16px 83px 40px auto;
}

// #exTab1 .tab-content {
//   color : black;
//   padding : 5px 15px;
// }

// #exTab2 h3 {
//   color : white;
//   background-color: #428bca;
//   padding : 5px 15px;
// }

// /* remove border radius for the tab */

// #exTab1 .nav-pills > li > a {
//   border-radius: 0;
// }

// /* change border radius for the tab , apply corners on top*/

// #exTab3 .nav-pills > li > a {
//   border-radius: 4px 4px 0 0 ;
// }

// #exTab3 .tab-content {
//   color : white;
//   background-color: #0f602a;
//   padding : 5px 15px;
// }

// .hike-type {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .tabs-container {
//   justify-content: space-between;
// }




// ---- MY MESSAGES ---- \\

// .message-info {
//   // display: flex;
//   grid-template-columns: 50% 50%;
//   background-color: white;
// }

// .message-right {
//   width: auto;
//   margin: 100px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.1);
//   background-color: white;
//   border-top-left-radius: 25px;
//   border-top-right-radius: 25px;
//   border-bottom-left-radius: 25px;
//   border-bottom-right-radius: 25px;
//   border: 1px solid lightgray;
// }


// .message-title {
//   text-transform: bold;
//   text-align: left;
//   font-size: 18px;
//   height: 8vh;
//   border-top-left-radius: 25px;
//   border-top-right-radius: 25px;
//   color: black;
//   margin-left: 22px;
// }

// .message-object {
//   text-align: center;
//   border-right: 1px solid lightgray;
//   width: 50%;
//   height: 8vh;
//   color: grey;
//   padding: 8px;
// }

// .message-description {
//   text-align: center;
//   border-top: 1px solid lightgray;
//   height: 40vh;
//   font-size: small;
//   padding: 5vh;
//   text-align: left;
//   color: grey;
// }


// #message-accept-btn {
//   margin-bottom: 22px;
// }

// #message-decline-btn {
//   margin-bottom: 22px;
// }
