.container {
  display: flex;
  background-color: white;
  max-width: 1400px;
  height: 100vh;
  padding-top: 4vh;
}

.profile-info {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100px;
  background-color: white;
}

.profile-center {
  margin: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid lightgray;
}

.profile-name {
  text-transform: bold;
  text-align: left;
  color: rgb(0, 0, 0);
  padding-left: 22px;
  padding-top: 22px;
  padding-bottom: 5px;
}

.profile-name h2 {
  font-size: 25px;
}

.profile-hometown {
  text-align: left;
  width: 50%;
  height: 4vh;
  color: grey;
  margin-left: 22px;
}

.profile-hometown p {
  font-weight: lighter;
}

.profile-dog {
  text-align: left;
  justify-content: left;
  width: 50%;
  height: 4vh;
  color: grey;
  margin-left: 22px;
}

.profile-dog p {
  font-weight: lighter;
}

.profile-description {
  margin: 22px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 14px;
  padding: 3vh;
  text-align: left;
  color: black;
}

.profile-description p {
  font-weight: lighter;
}

#profile-edit-btn {
  margin-bottom: 22px;
}

.avatar-profile {
  position: absolute;
  margin-left: 400px;
  margin-top: -33px;
  width: 105px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

// ---- MY MESSAGES ---- \\

.message-info {
  // display: flex;
  grid-template-columns: 50% 50%;
  background-color: white;
}

.message-right {
  width: auto;
  margin: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid lightgray;
}


.message-title {
  text-transform: bold;
  text-align: left;
  font-size: 18px;
  height: 8vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: black;
  margin-left: 22px;
}

.message-object {
  text-align: center;
  border-right: 1px solid lightgray;
  width: 50%;
  height: 8vh;
  color: grey;
  padding: 8px;
}

.message-description {
  text-align: center;
  border-top: 1px solid lightgray;
  height: 40vh;
  font-size: small;
  padding: 5vh;
  text-align: left;
  color: grey;
}


#message-accept-btn {
  margin-bottom: 22px;
}

#message-decline-btn {
  margin-bottom: 22px;
}
