.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.container-profile {
  // display: flex;
  // flex-direction: column;
  // background-color: white;
  // max-width: 1400px;
  // height: 75vh;
  padding-top: 4vh;
  width: 80vw;
  // margin: 0px auto 40px auto;
}


.hikes-container {
  background-color: white;
  padding-top: 4vh;
}

.row {
  width: 100%;
  justify-content: center;
  // margin-right: 200px;
}


.profile-info {
  // grid-template-columns: 50% 50%;
  background-color: white;
}

.profile-center {
  margin: 0 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border: 1px solid lightgray;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid lightgray;
}

.profile-name {
  display: flex;
  justify-content: space-between;
  text-transform: bold;
  text-align: left;
  color: rgb(0, 0, 0);
  padding-left: 22px;
  padding-top: 22px;
  padding-bottom: 5px;
  position: relative;
}

.profile-name h2 {
  font-size: 25px;
}

.profile-hometown {
  text-align: left;
  width: 50%;
  height: 4vh;
  color: grey;
  margin-left: 22px;
}

.profile-hometown p {
  font-weight: lighter;
}

.profile-dog {
  text-align: left;
  justify-content: left;
  width: 50%;
  height: 4vh;
  color: grey;
  margin-left: 22px;
}

.profile-dog p {
  font-weight: lighter;
}

.profile-description {
  margin: 22px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 14px;
  padding: 3vh;
  text-align: left;
  color: black;
}

.profile-description p {
  font-weight: lighter;
  font-size: 14px;
}

#profile-contact-btn {
  margin-bottom: 22px;
  margin-right: 10px;
  width: 15%;
}

.avatar-profile {
  // position: absolute;
  margin-right: 20px;
  // margin-bottom: 10px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

// ---- MY HIKES ---- \\


.hike-info {
  margin-right: 200px;
}

.container-hike {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1400px;
  height: 75vh;
  padding-top: 4vh;
  margin: 4px 83px 40px auto;
}

.hike-name {
  margin-top: 30px;
}

.hike-name h2 {
  font-size: 25px;
}

.item-card-profile {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 6px #ccc;
  border-radius: 15px;
  padding: 0px;
  margin: 10px;
}

.hike-icons-profile {
  padding: 4px 10px 2px 8px;
  display: flex;
}

.delete-btn {
  font-weight: lighter;
  font-size: 12px;
  margin-left: 115px;
}

.plus-button {
  width: 300px;
  height: 300px;
  background-color: rgba($color: $light-green, $alpha: 0.8);
  box-shadow: 0 2px 7px #CCC;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.plus  {
  font-size: 80px;
}

// Cards profile

.cards-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-profile {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-profile {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-profile {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-profile {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-profile {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
