<div class="hike-card">
		<div class="card-tumb">
			<%= image_tag "vdj.jpg", class: "card-img" %>
		</div>
		<div class="hike-details">
			<h2><a href="">Vallée de Joux wonders</a></h2>
			<p>Col du Mollendruz, Switzerland</p>
      <p>22km/day</p>
      <p>intermediate</p>
			<div class="hike-bottom-info">
				<div class="hike-icons">
					<a href=""><i class="fa fa-heart"></i></a>
					<a href=""><i class="fa fa-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>
