<div class="container">
  <div class="row justify-content-center">
    <div class="hike-card" style="width: 18rem;">
      <div class="card-tumb">
        <%= image_tag "vdj.jpg", class: "card-img-top" %>
      </div>
      <div class="hike-details">
        <h2><a href="">Vallée de Joux wonders</a></h2>
        <p>Col du Mollendruz, Switzerland</p>
        <p>22km/day</p>
        <p>intermediate</p>
      <div class="hike-bottom-info">
          <div class="hike-icons">
              <i class="fa-solid fa-mountain" title="moutains"></i>
              <i class="fa-solid fa-paw" title="dog friendly"></i>
          </div>
      </div>
    </div>
  </div>
</div>
