<div class="item-card">
    <%= image_tag "vdj.jpg", class: "card-img-top" %>
  <div class="item-details">
    <h2><a href="">Vallée de Joux wonders</a></h2>
    <p>Col du Mollendruz, Switzerland</p>
    <h3>22km/day  |  intermediate</h3>

        <div class="hike-icons">
          <i class="fa-solid fa-mountain" title="moutains"></i>
          <i class="fa-solid fa-paw" title="dog friendly"></i>
        </div>
  </div>
</div>
