<form class="filters-form" action="/hikes" >
  <p>Duration</p>
  <div class="filter-category">
    <input type="radio" class ="duration-radio-btn" id="1-day" name="duration" value="1-day">
    <label for="1-day">1 day</label><br>
    <input type="radio" class ="duration-radio-btn" id="multiple-days" name="duration" value="multiple-days">
    <label for="multiple-days">multiple days</label>
  </div>
  <br>


  <p>Date(s)</p>
  <div class="filter-category">
    <input type="date" class="date-selection" id="start-date" name="start-date">
    <%# TODO: make this appear only when you select "multiple days" above %>
    <div id="end-date-field" style="display:block">
      to
      <input type="date" class="date-selection" id="end-date" name="end-date">
    </div>
  </div>
  <br>

  <p>Extra buddies</p>
    <div class="filter-category">
      <div class="dog-friendly-wrapper">
        <input type="checkbox" class="extra-buddies-checkbox" id="dog" name="extra-buddies" value="dog">
        <label for="dog"> dog friendly</label>
      </div>
      <div class="kid-friendly-wrapper">
        <input type="checkbox" class="extra-buddies-checkbox" id="child" name="extra-buddies" value="child">
        <label for="child"> kid friendly</label>
      </div>
    </div>
  <br>

  <p>Difficulty</p>
  <div class="filter-category">
    <input type="radio" class="difficulty-radio-btn" id="beginner" name="difficulty" value="beginner">
    <label for="beginner">beginner</label><br>
    <input type="radio" class="difficulty-radio-btn" id="intermediate" name="difficulty" value="intermediate">
    <label for="intermediate">intermediate</label>
    <input type="radio" class="difficulty-radio-btn" id="expert" name="difficulty" value="expert">
    <label for="expert">expert</label>
  </div>
  <br>

  <p>Length</p>
  <div class="slider">
    <input type="range" min="1" max="40" value="20" class="slider" id="range" oninput="rangeValue.innerText = this.value + ' km'">
    <p id="rangeValue"></p>
  </div>
  <br>

  <p>Terrain type</p>
  <div class="filter-category">
    <input type="radio" class="terrain-radio-btn" id="flat" name="terrain-type" value="flat">
    <label for="flat"><i class="fa-solid fa-minus"></i></label>
    <input type="radio" class="terrain-radio-btn" id="hills" name="terrain-type" value="hills">
    <label for="hills"><i class="fa-solid fa-mound"></i></label>
    <input type="radio" class="terrain-radio-btn" id="mountains" name="terrain-type" value="mountains">
    <label for="mountains"><i class="fa-solid fa-mountain" title="moutains"></i></label>
  </div>
  <br>

  <p>Languages</p>
  <div class="english-checkbox-wrapper">
    <input type="checkbox" class="english-checkbox" id="english" name="english" value="english">
    <label for="english"> english-speaking</label>
  </div>

  <div class="buttons">
    <button type="submit" class="btn">Submit</button>
  </div>
</form>

<script>
function endDateFieldVisibility() {
  if (document.getElementById("multiple-days").checked) {
      //display block/none -- not working either
      document.getElementById("end-date-field").style.visibility = "visible"
    }
  else {
    document.getElementById("end-date-field").style.visibility = "hidden"
  }
}
endDateFieldVisibility()

document.getElementById("range")
</script>
