<div class="item-card">
    <%= image_tag "backpack.jpg", class: "card-img-top" %>
  <div class="item-details">
    <h2><a href="">24L Hiking Backpack</a></h2>
    <h3>Very good quality, comfortable fabric and shape, almost new, perfect for 2-3 days of hike.</h3>
    <p><strong>20€</strong>/event</p>

    <div class="tick-container">
      <input type="checkbox" id="cbtest" />
      <label for="cbtest" class="check-box"></label>
    </div>
  </div>
</div>
