<div class="item-card">
    <%= image_tag "backpack.jpg", class: "card-img-top" %>
  <div class="item-details">
    <h2><a href="">24L Hiking Backpack</a></h2>
    <h3>Very good quality, comfortable fabric and cut, almost new, perfect for 2-3 days of hike.</h3>
    <div class="item-bottom-info">
      <p><strong>20€</strong>/event</p>
      <div class="checkbox-item">
        <input class="form-check-input" type="checkbox">
      </div>
    </div>
  </div>
</div>
