  <%# items for rent  %>
<div class="container">
  <div class="row justify-content-center">
    <div class="hike-card" style="width: 18rem;">
        <div class="item-pic">
          <%= image_tag "backpack.jpg", class: "card-img-top" %>
        </div>
        <div class="item-details">
            <h2><a href="">24L Hiking Backpack</a></h2>
            <p><strong>20€</strong>/event</p>
          <div class="item-bottom-info">
            <link href="" rel='stylesheet' type='text/css'>
            <div class="tick-container">
              <input type="checkbox" id="cbtest" />
              <label for="cbtest" class="check-box"></label>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


