<div>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Wowza! 😎 </strong> Your request to join Katherine’s hike has been sent and can be found in your profile. Katherine will reach out to you soon. </span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
