<div class="container">
  <h1>All Hikes</h1>
  <ul>
    <% @hikes.each do |hike| %>
      <li><h3><%= link_to hike.title, hike_path(hike) %></h3></li>
      <li><p>Location: <%= hike.location %> | User: <%= hike.user.first_name %></p></li>
    <% end %>
  </ul>
</div>
