<div class="container">
  <div class="show-info">
    <div class="show-left">

      <!-- Hike Title info goes below -->
      <div class="show-title">
        <h3>show title</h3>
        <!-- <h3><%= @hike.title %></h3> -->
      </div>

      <!-- location and dates goes below -->
      <div class="d-flex">
        <div class="show-location">
          <h3>show location</h3>
          <!-- <p><%= @hike.location %></p> -->
        </div>

        <div class="show-dates">
          <h3>show dates</h3>
          <!-- <p><%= @hike.date %></p> -->
        </div>
      </div>

      <!-- row of tags goes below -->
      <div class="d-flex">
        <div class="show-tags">
          <h3>show tags</h3>
        </div>
      </div>

      <!-- hike description text and button goes below -->
      <div class="show-description">
        <h3>show description</h3>
        <!-- <p><%= @hike.description %></p> -->
      </div>
      <div class="show-button">
        <h3>show button</h3>
      </div>
    </div>

    <!-- Map info goes below -->
    <div class="show-right">
      <div class="show-map">
        <h3>show map</h3>
      </div>

      <!-- image files go below -->
      <div class="show-images">
        <h3>show images</h3>
      </div>
    </div>
  </div>
</div>
