<div class="banner">
  <div class="banner-content">
    <h1>Your next adventure awaits</h1>
    <p>Join a hiking trip with new buddies and make forever lasting memories</p>

    <%= render "shared/search-bar" %>

    <%# <div class="btn home-btn"> %>
      <%#= link_to "Find a hike", hikes_path %>
    <%# </div> %>

  </div>
</div>

<div class="home-container">
    <%= image_tag "homepage_intro.png", class: "hp-intro" %>
</div>

<div>

</div>
