<div class="banner">
  <div class="banner-content">
    <h1>Your next adventure awaits</h1>
    <p>Join a hiking trip with new buddies and make forever lasting memories</p>

    <%# <%= render "shared/search-bar" %>
    <%# <div id="geocoder" class="geocoder"></div> %>
    <%# <div class="btn home-btn"> %>
      <%#= link_to "Find a hike", hikes_path %>
    <%# </div> %>

    <%# TODO add a call to action here %>

  </div>
</div>


<div class="home-container">
    <%= image_tag "homepage_intro.png", class: "hp-intro" %>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>

