<div class="banner">
  <div class="banner-content">
    <h1>Your next adventure awaits</h1>
    <p>Join a hiking trip with new buddies and make forever lasting memories</p>

    <%= render "shared/search-bar" %>

    <div class="btn">
      <%= link_to "Find a hike to join", hikes_path %>
    </div>

  </div>
</div>
