<%# MEET THE TEAM%>

<div class="all-container">
  <h1>Behind naturEscape</h1>
    <p>They are passionate about nature, tech and design and they love connecting likeminded buddies... Meet the team!</p>
      <div class="team-container">
        <div class="team-center col-sm">
          <%= image_tag "map_profile_NEW.png", class: "team-img" %>
        </div>
      </div>
</div>
