<%# Request a hike %>
<div class="container">
  <div class="col">
    <%= render "shared/card" %>
    <%= render "shared/requestpopup" %>
  </div>
</div>
<%# cards of items to rent %>
<%# submit should come here %>
