// wrap buttons inside a buttons div to have text aligned

.buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-right: 12px;
}

.btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: white !important;
  background-color: $magenta;
  border: 1px solid $magenta;
  display: flex;
  align-self: center;
  justify-content: center;
  // box-sizing: 30px 80px;
  appearance: none;
  border-radius: 0.6em;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: $magenta !important;
    outline: 0 !important;
  }
}

.btn > a {
  color: white !important;
  font-weight: bold;
}

// TO EDIT - CAN'T MAKE IT SAME SIZE IOAWJFOIEJIORFERDFFFF

.btn2 {
  font-family: 'Rubik', sans-serif;
  appearance: none;
  background-color: white;
  border: 1px solid $magenta;
  border-radius: 0.6em;
  color: $magenta;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  text-align: center;

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $magenta inset;
  }

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.search-hike-btn{
  width: 200px !important;
}
.buttons-wrapper-hike-search{
  margin-top: 0 !important;
}
.search-hike-btn a{
  color: white;
}
.filters-buttons{
  display: flex;
  justify-content: space-between;
}
