// wrap buttons inside a buttons div to have text aligned

.buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-right: 12px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: $magenta;
  border: 1px solid $magenta;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 10px;
  box-sizing: 30px 80px;
  appearance: none;
  border-radius: 0.6em;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: $magenta;
    outline: 0;
  }
}
