.chat-container {
  display: flex;
  height: auto;
  // flex-direction: column;
  justify-content: space-around;
  padding: 44px;
  text-align: center;
  // height: 75vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  background-color: rgba(254, 254, 254, 0.8);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid lightgray;
  width: 900px;
  justify-content: center;
  align-items: center;
  // margin-top: 18vh;
  // margin-bottom: 20vh;
  margin: 14px 100px 50px 225px;
}

.modal-backdrop {
  z-index: 1
}

.chatroom {
  max-width: 1400px;
  height: 650px;
  padding-top: 20px;
  /* padding-bottom: 10px; */
  margin-bottom: -100px !important;
}

.chat {
  width: 80%;
  text-align: center;
}

.chat-form-style {
  padding-bottom: 30px;
  align-content: center;
}

.show-chat-title {
  color: black !important;
  border-bottom: 1px solid lightgray;
}

.chat-intro {
  color: rgb(114, 114, 114);
  font-size: 14px;
}

.btn-chat {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: $magenta;
  border: 1px solid $magenta;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 10px;
  box-sizing: 30px 80px;
  appearance: none;
  border-radius: 0.6em;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: $magenta;
    outline: 0;
  }
}

.show-button-container-chat {
  text-align: center;
  // border: 1px solid lightgray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 20vh;
  display: flex;
  justify-content: center;
  // margin-left: 50px;
}

textarea.form-control {
  min-height: calc(6em + 0.75rem + 2px);
}
