.footer-dark {
  padding: 15px 0;
  color: white;
  background-color: $dark-green;

}

.footer-dark .item.social {
  text-align: center;
  border-color: white;
}

.footer-dark .item.social > a {
  font-size: 25px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border-color: white;
  margin: 0 8px;
  color: white;
  opacity: 0.75;
  padding-top: 10px;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  font-size: 13px;
  margin-bottom: 0;
  color: white;
  opacity: 0.8;
}
