.map-wrapper{
  display: grid;
  height: 80vh;
  grid-template-columns: 30% 70%;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border: 1px solid lightgray;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.map-filters{
  padding: 1rem;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
}

.mapboxgl-popup {
  // max-width: 200px;
  background: transparent;
  border: none;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container{
  height: 100%;
  background-color: white;
}

.map-filters{
  overflow: scroll;
  align-items: center;
  align-content: center;
}

.mapboxgl-popup-tip {
  border-bottom-color: transparent !important;
}
.mapboxgl-popup-content {
  background: transparent !important;
  width: 322px;
  box-shadow: none !important;
}

.banner-hike {
	background-image: url("mountain-bg.png");
	background-size: cover;
  margin-top: 20px;
}

.mapboxgl-canvas, #map {
  border-radius: 0px 20px 20px 0px
}
