.map-wrapper{
  display: grid;
  height: 80vh;
  grid-template-columns: 30% 70%;
  margin: 3rem;
  border-radius: 20px;
  border: 1px solid $dark-green;
}

.map-filters{
  padding: 1rem;
}

.mapboxgl-popup {
  // max-width: 200px;
  background: transparent;
  border: none;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container{
  height: 100%;
}

.map-filters{
  overflow: scroll;
  align-items: center;
  align-content: center;
}

.mapboxgl-popup-tip {
  border-bottom-color: transparent !important;
}
.mapboxgl-popup-content {
  background: transparent !important;
  width: 322px;
  box-shadow: none !important;
}
