.item-card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 7px #000000;
  border-radius: 15px;
  padding: 0px;
  margin: 20px;
}

.item-card-home {
  display: block;
  position: relative;

  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  &:hover:before {
    transform: scale(2.15);
  }
}

.item-details {
  padding: 10px;
}

.item-details h2 {
  font-family: $headers-font;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
}

.item-details h3 {
  font-family: $headers-font;
  font-family: $headers-font;
  font-weight: lighter;
  color: gray;
  font-size: 14px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-details p {
  font-family: $headers-font;
  font-size: 14px;
  padding-top: 2px;
  padding-left: 10px;
  margin-bottom: 6px;
}

/* Checkmark style starts */

.checkbox-item {
  margin-left: 155px;
  margin-bottom: 10px;
}

.item-bottom-info {
  display: flex;
  width: 100%;
  margin-top: 6px;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid $magenta;
    appearance: none;
}
