.item-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #000000;
  margin: 50px auto;
  background: #fafafa;
  border-radius: 50%;
}

.item-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.item-details h2 a {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: $headers-font;
  font-weight: bold;
}

.item-details p {
  font-size: 12px;
  margin: 0;
  font-family: $headers-font;
}


.tick-container{
  box-sizing: border-box;
  padding:25px;
  text-align:center;
}


/* Checkmark style starts */


.check-box {
  height: $checkbox-height;
  width: $checkbox-height;
  background-color: transparent;
  border: $checkbox-height * .1 solid $magenta;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease $duration/2;
  -o-transition: border-color ease $duration/2;
  -webkit-transition: border-color ease $duration/2;
  transition: border-color ease $duration/2;
  cursor:pointer;
