.navbar {
  flex-direction: row;
  background: white;
  height: 50px;
  color: $dark-green;
}

.navbar-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: white;
  background-color: $magenta;
  border: 1px solid $magenta;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 10px;
  box-sizing: 30px 80px;
  appearance: none;
  border-radius: 0.6em;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  text-align: center;
  width: 20%;
}

p {
  padding-left: 25px;
  font-size: xx-large;
  color: $dark-green;
}

.nav-search {
  width: 80%;
  // flex-grow: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// hamburger menu

.navbar-hamburger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 3.0rem;
  width: fit-content;
  padding: 15px;
  border-radius: 50px;
  background-color: $dark-green;
  padding-right: 25px;
}

.avatar {
  width: 1.22rem;
  // height: 2rem;
  margin-left: 15px;
}

// .fa-bars {
//   font-size: 22px;
//   margin-left: 3px;
//   padding-left: 3px;
// }

// .dropdown {
//   position: relative;
//   display: inline-block;
// }

.dropbtn {
  color: white;
  padding: 5px 0 5px 8px;
  font-size: 20px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: end;
  top: 3rem;
  right: 0;
  border-radius: 15px;
  background-color: white;
  color: $dark-green;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $dark-green;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
